name: Test suite

on:
  push:
    branches:
      - master
      - develop
  pull_request:

jobs:
  lintjs:
    name: Javascript standard lint
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: setup node
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - name: cache dependencies
      uses: actions/cache@v1
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - run: npm ci
    - run: npm run lint

  unittest:
    name: mocha unit tests
    runs-on: ubuntu-latest
    needs: [lintjs]
    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: setup node
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - name: cache dependencies
      uses: actions/cache@v1
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - run: npm ci
    - run: npm run test:coverage

    - name: check coverage
      uses: devmasx/coverage-check-action@v1.2.0
      with:
        type: lcov
        result_path: coverage/lcov.info
        min_coverage: 90
        token: ${{github.token}}
